@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../template/assets/css/libraries.css';
@import '../template/assets/scss/style';


.slider {

  .slide__title{
    font-weight: 400;
    font-size: max(5vw, 2.6rem);
    line-height: max(5vw, 1.5rem);
    margin-bottom: 30px;

    @media (max-width: 767px) {
      font-weight: 500
    }
  }
}

.navbar-collapse{
  &.collapse{
    visibility: visible;
  }
}
